* text=auto
*.ps1 text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.json text eol=lf
*.ico binary
*.png binary
*.zip binary
packaging/licenses/*.txt -whitespace
